#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 80px;
}
#gifLube{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    margin-top: 30px;
}
#gifPlace{
    margin-top: 30px;
}